:root {
  --main-bg-color: #1d2635;
  --txt-color-red: #ff073a;
  --txt-color-green: #93c47d;
  --secondary-bg-color: #243042;
  --title-shadow-color: purple;
  --card-shadow-color: #00000026;
  --timeline-description-color: whitesmoke;
  --title-color: white;
}

* {
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

body {
  background-color: var(--main-bg-color);
}

@font-face {
  font-family: 'SIMPLIFICA';
  src: url('./fonts/SIMPLIFICA_Typeface.ttf') format('truetype')
}


#title {
  margin-bottom: 30px;
  color: yellow;
  text-shadow: 0.2rem 0.2rem 0.2rem var(--title-shadow-color);
  font-family: "SIMPLIFICA", cursive;
  display: block;
  font-size: 4rem !important;
  line-height: 1.3;
  font-weight: 300;
}


h1 {
  color: var(--title-color);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--title-shadow-color);
  font-size: 3rem !important;
}


#flags {
  display: flex;
  margin-top: 50px;
}

#flags img {
  width: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid white; 
  height: 35px;
}

#flags img.clicked {
  border-color: yellow; 
  box-shadow: 0 0 5px yellow; 
}

canvas {
  position: absolute;
  z-index: -1;
}

h1 {
  text-align: center;
}

.landing {
  height: 1270px;
  width: 100%;
  vertical-align: middle;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-link {
  align-items: center;
  justify-content: center;
}

.timeline {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--secondary-bg-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -12px;
  background-color: var(--main-bg-color);
  border: 4px solid var(--secondary-bg-color);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--secondary-bg-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--secondary-bg-color);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--secondary-bg-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--secondary-bg-color) transparent transparent;
}

.right::after {
  left: -10px;
}

.content {
  padding: 20px 30px;
  background-color: var(--secondary-bg-color);
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem var(--card-shadow-color) !important;
}

h2 {
  color: var(--txt-color-green);
  font-family: "Orbitron";
  font-size: 21px;
}
.subtitle {
  color: lightslategray;
  margin-top: -5px;
}

.description {
  color: var(--timeline-description-color);;
  font-size: 16px;
}


#skills {
  width: 100%;
  height: 1280px;
}

#projects {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.card {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 0.5rem 1rem var(--card-shadow-color) !important;
  width: 400px;
  height: 500px;
  margin: 50px;
}

.card:hover {
  box-shadow: 0 0.1rem 1rem var(--txt-color-green) !important;
}

.card img {
  width: 100%;
  height: 60%;
  padding: 10px;
}

a {
  text-decoration: none;
  height: 600px;
  color: black;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 2rem;
}

.card-body h2 {
  font-family: "Orbitron";
}

span {
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  font-family: "Mooli";
  font-weight: bold;
  font-size: 11px;
  border: solid 1px;
  margin-right: 5px;
  justify-content: center;
}

#skills {
  display: grid;
  grid-template-columns: 380px auto auto auto auto;
  justify-content: center;
}

.skill-card {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 0.5rem 1rem var(--card-shadow-color) !important;
  width: 300px;
  height: 300px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skill-card img {
  width: 70%;
  height: 55%;
  padding: 10px;
}

.skill-card h2 {
  margin-top: 30px;
}

dotlottie-player {
  margin-top: 100px;
}

@media screen and (max-width: 1400px) {
  #projects {
    grid-template-columns: auto auto !important;
  }
  
  #skills {
    grid-template-columns: auto auto auto !important;
  }

}

@media screen and (max-width: 1110px) {

  #skills {
    grid-template-columns: auto auto !important;
  }

}

@media screen and (max-width: 650px) {
  #projects {
    display: block !important;
  }

  #skills {
    display: block !important;
  }

  .card {
    width: 350px !important;
    height: 500px !important;
    margin: 21px !important;
  }

  .timeline::after {
    left: 31px;
  }
  #title {
    text-align: center;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid var(--secondary-bg-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary-bg-color) transparent transparent;
  }

  .left::after,
  .right::after {
    left: 19px;
  }

  .right {
    left: 0%;
  }
}